@font-face {
    font-family: 'ZX Spectrum';
    src: url('font-zxspectrum/ZX-Spectrum.eot');
    src: url('font-zxspectrum/ZX-Spectrum.eot?#iefix') format('embedded-opentype'),
        url('font-zxspectrum/ZX-Spectrum.woff2') format('woff2'),
        url('font-zxspectrum/ZX-Spectrum.woff') format('woff'),
        url('font-zxspectrum/ZX-Spectrum.ttf') format('truetype'),
        url('font-zxspectrum/ZX-Spectrum.svg#ZX-Spectrum') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html * {
    font-family: "ZX Spectrum";
    background-color: #0058f8;
}

.container {
    width: 500px;
    margin: 0 auto;
}

#drawingZone {
    border: 10px solid #F83800;
    outline-style: inset;
    outline-width: 10px;
    outline-color: #7c7c7c ;
    margin: 20px 0;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modify-buttons {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #b8f818;
    width: 250px;

}

button {
    border: none;
    padding: 10px;
    
}

button:active {
    transform: translateY(1px);
}

#face-sprite {
    height: 150px;
    width: 150px;
    object-fit: cover;
    animation: wiggle 1s steps(1,start) infinite;

    background-color: #0058f8;
}


@keyframes wiggle {
    50% {object-position: 1% 1%;}
    100% {object-position: 101% 101%;}
}


.blinking {
    animation: blink 4s steps(1,start) infinite;
}

@keyframes blink {
    20% {color:#F83800;}
    100% {color: #fbff00;}
}

#blackColorPen,
#rainbowColorPen,
#addHueColorPen {
    width: 100%;
    background: url("img/button-background-long.png") no-repeat;
    cursor: pointer;
    background-position: 0px 5px;
    background-size: 100% 80%;
}

#updateGridButton {
    background: url("img/button-background-medium.png") no-repeat;
    cursor: pointer;
    background-position: 0px 3px;
    background-size: 100%;
}

#clearButton {
    background: url("img/button-background-small1.png") no-repeat;
    cursor: pointer;
    background-position: 0px 3px;;
    background-size: 100%;
    padding: 10px 25px;
 }
#drawingZone {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

#singleSquare {
    display: block;
    box-sizing: border-box;
    border: 1px solid #00000094  ;
}




